@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat.ttf);
}

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  color: var(--text-color);
}

h1 {
  line-height: 2.5rem;
}

p {
  font-weight: 600;
  line-height: 3rem;
}

/* ------------------------------------- */
.quiz__container {
  width: 40%;
  height: 80%;
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: var(--spacing-large);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start__container {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start__container--picture {
  width: 100%;
  height: 65%;
}

.start__container--picture img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start__button {
  width: 20%;
}

.hidden {
  display: none;
}

/* -------------------------- */
button {
  padding: var(--spacing-xsmall);
  font-size: var(--font-size-xsmall);
  cursor: pointer;
  border-radius: 24px;
  background-color: var(--text-color);
  color: var(--primary-color);
  line-height: 1.5rem;
  font-size: var(--font-size-small);
  font-weight: 550;
  border: none;
}

button:hover {
  scale: 104%;
}

/* button:active {
  background-color: var(--primary-color);
  border: 3px solid var(--text-color);
  color: var(--text-color);
} */

.progress__indicator {
  margin-bottom: var(--spacing-medium);
  font-size: var(--font-size-medium);
}

.question__answer--options {
  display: flex;
  flex-wrap: wrap; /* Sørger for at elementene kan bryte til neste linje */
  gap: 12px; /* Juster gapet mellom knappene */
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-xlarge);
}

.question__answer--options button {
  flex: 1 1 45%; /* Hver knapp tar opp 45% av containerens bredde, og bryter til neste linje etter 2 elementer */
  cursor: pointer;
  text-align: center;
}

.next__question--button {
  width: 20%;
}

.question__image-container {
  text-align: end;
  /* margin-bottom: 20px; */
}

#question-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Har prøvd å legge inn en url i array for å laste inn et ulikt bilde i hvert spørsmål. Denne stylingen er ikke ferdig. spør gpt. */
/* .questions__container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  justify-content: space-between;
} */

/* Scrollbar for resultater */
.review__questions--list {
  max-height: 60vh; /* Begrens høyden til 60% av skjermen */
  overflow-y: auto; /* Legger til en scrollbar siden innholdet er større enn containeren */
  padding-right: 10px;
}

.review__questions--list::-webkit-scrollbar {
  width: 8px;
}

.review__questions--list::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 4px;
}

.review__questions--list::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}
